.git
.env
.env.*
laravel/.env
laravel/.env.*
!laravel/.env.example
laravel/node_modules
laravel/vendor
laravel/public/build
laravel/public/hot
laravel/storage/logs/*
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/testing/*
laravel/storage/framework/views/*
Thumbs.db
.DS_Store
.phpunit.cache
.phpunit.result.cache
