*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/laravel/node_modules
/laravel/public/build
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/storage/pail
/laravel/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
